n8n/webhook.json
{
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $(\"Extract Student ID\").item.json.chat_id }}",
        "text": "=✅ *Estado de Solicitud*\n\nID: {{ $('Extract Student ID').item.json.student_id }}\nEstudiante: {{ $json.Nombre }}\n\nTu justificación de ausencia ha sido *aprobada*.\n\nMotivo: {{ $json.Motivo }}\nRazon: {{ $json.Razon }}\nArchivo: {{ $json.URL_Archivo }}\nEnviado: {{ $json.Fecha_Envío }}\nProcesado: {{ $json.Timestamp_Proceso }}\n\nConfianza IA: {{ $json[\"Confianza_%\"] }}%",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "526672b3-b4ee-4fe3-9a28-65af63a39762",
      "name": "Notify Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        1312
      ],
      "webhookId": "40eb3f72-3a4c-4f2c-b51b-6a7e1fe48add",
      "credentials": {
        "telegramApi": {
          "id": "M0Bfhe39wLNs7tiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c1d57ee3-358b-4f11-9803-42c87144cd6a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        720
      ],
      "id": "e68cdaea-65ef-4bae-ad5b-aa31db8db982",
      "name": "Webhook",
      "webhookId": "db1cad8b-ffb1-4047-8912-20a871e89e4f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "648b9cbd-2611-4f62-8795-88127fcb994d",
              "leftValue": "={{ $binary.file.bytes }}",
              "rightValue": 5242880,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        720
      ],
      "id": "b8a19739-46a5-4482-9846-3527ec51b233",
      "name": "check for file size"
    },
    {
      "parameters": {
        "chatId": "6132726794",
        "text": "=🔔 *Solicitud: {{ $json.ID_Solicitud }}*\n\n❌ El archivo enviado supera el tamaño máximo permitido de 5MB.\n\nPor favor, comprime o reduce el tamaño del archivo e intenta nuevamente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        512
      ],
      "id": "85e242c2-cebd-4666-ac96-67245ebcb457",
      "name": "Send a text message",
      "webhookId": "b0b382f0-97ba-40c5-a244-5e2bc50a3c7f",
      "credentials": {
        "telegramApi": {
          "id": "M0Bfhe39wLNs7tiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23dfe4ec-1dbd-4837-ba85-660f70b2e005",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "7d32a879-425a-42f9-8cec-dc5fe294e344",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "091ed3d5-cb6d-42a9-8c4d-59414cbafedf",
              "name": "student_id",
              "value": "={{ $json.body.student_id }}",
              "type": "string"
            },
            {
              "id": "416e40dd-3e9b-4ca5-9470-d08c3eee4e0d",
              "name": "reason",
              "value": "={{ $json.body.reason }}",
              "type": "string"
            },
            {
              "id": "44bb5ff7-a182-4340-a7aa-4973ab7324b7",
              "name": "detail",
              "value": "={{ $json.body.detail }}",
              "type": "string"
            },
            {
              "id": "5346849f-0949-4f33-b79b-d03bfb91f3f3",
              "name": "submitted_at",
              "value": "={{ $json.body.submitted_at }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "filename",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
              "name": "mime_type",
              "value": "={{ $json.body.mime_type }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "name": "request_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "cfaa703c-60ff-40c1-8f2b-cd0cfcb541de",
              "name": "filesize",
              "value": "={{ $binary.file.fileSize }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fe79d865-5583-4a7b-9355-d3386e12e541",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        720
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $binary.file }}",
        "name": "={{ $json.student_id }}_{{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1me34AJotFBkWh0Bdyx350izdxpT8NHvl",
          "mode": "list",
          "cachedResultName": "Inasistencias_D1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1me34AJotFBkWh0Bdyx350izdxpT8NHvl"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "fcc173a0-a9c6-4a0d-927c-3a66de47a90b",
      "name": "Upload File to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        720
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5Bb8rULeL3xGrDpt",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "file-url",
              "name": "fileUrl",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=drive_link",
              "type": "string"
            },
            {
              "id": "file-type",
              "name": "fileType",
              "value": "={{ $json.mimeType.startsWith(\"image/\") ? \"image\" : \"pdf\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e86c7298-40e6-41e4-9bda-2e9090ec0060",
      "name": "Prepare File Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        720
      ]
    },
    {
      "parameters": {
        "outputFieldName": "ai_start_time",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "d19f93e6-a794-46dc-9e7f-b09925005562",
      "name": "Store AI Start Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        64,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.fileType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "41e81701-c26b-4dce-8b20-ad449b2373f6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7413102-1270-424b-a2f9-45af25dc8e5c",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        720
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload File to Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        592
      ],
      "id": "0f042a85-bba4-435b-908d-2e12046f3bcf",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5Bb8rULeL3xGrDpt",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $('Webhook').item.binary['file'] }}",
        "options": {}
      },
      "id": "28ecbec0-e395-43cf-b3f9-3939b6822494",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        512,
        832
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=You are a document validator for an academic absence justification system.\nRespond ONLY with a valid JSON object. No markdown, no explanation, no extra text.\n\n{\n  \"clasificacion\": \"Válida\" | \"Inválida\" | \"Dudosa\",\n  \"confianza\": <integer 0-100>,\n  \"texto_ocr\": \"<extracted text max 300 chars>\",\n  \"motivo_decision\": \"<one sentence>\",\n  \"palabras_clave\": [\"keyword1\", \"keyword2\", \"...\"]\n}\n\nRules:\n- Válida: Document clearly and fully justifies the absence (medical cert, official letter).\n- Dudosa: Related but incomplete, unclear, or partially readable.\n- Inválida: Unrelated, unreadable, blank, or missing.\n\nConfidence:\n- Only return confianza > 90 if you are completely certain AND the document shows strong evidence of authenticity (e.g., institution names, signatures, stamps, medical terminology).\n- If dates or days of absence in the document DO NOT match the student's stated reason, reduce confianza significantly.\n\nValidation consistency:\n- Mismatches between imagen and reason → lower confianza and possibly \"Dudosa\" if the imagen has text in it..\n\nKeyword extraction (VERY IMPORTANT):\n- Extract BETWEEN 5 AND 10 palabras_clave (not fewer).\n- Keywords must include:\n  1. Main topic (e.g., enfermedad, accidente, viaje)\n  2. Specific terms (e.g., hospital, cirugía, consulta, reposo)\n  3. Entities if present (e.g., clínica, doctor, institución)\n  4. Dates or time indicators if visible\n  5. Document type (e.g., certificado médico, carta, constancia)\n- Include synonyms or closely related terms when relevant (e.g., \"hospital\", \"urgencia\", \"emergencia\").\n- Use lowercase, no duplicates, no full sentences.\n\nPriority hinting (implicit classification support):\n- If keywords include: \"hospital\", \"urgencia\", \"cirugía\" → treat as HIGH relevance evidence\n- If include: \"médico\", \"salud\", \"consulta\" → MEDIUM relevance\n- Otherwise → LOW relevance\n\nOutput must ALWAYS be valid JSON.",
        "inputType": "base64",
        "binaryPropertyName": "=data",
        "options": {
          "detail": "high",
          "maxTokens": 1500
        }
      },
      "id": "fb03b98a-be8a-41e2-bda8-7707787f01d6",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        736,
        592
      ],
      "credentials": {
        "openAiApi": {
          "id": "iakGIBXi4ke4MuAp",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a document validator for an academic absence justification system.\nRespond ONLY with a valid JSON object. No markdown, no explanation, no extra text.\n\n{\n  \"clasificacion\": \"Válida\" | \"Inválida\" | \"Dudosa\",\n  \"confianza\": <integer 0-100>,\n  \"texto_ocr\": \"<extracted text max 300 chars>\",\n  \"motivo_decision\": \"<one sentence>\",\n  \"palabras_clave\": [\"keyword1\", \"keyword2\", \"...\"]\n}\n\nRules:\n- Válida: Document clearly and fully justifies the absence (medical cert, official letter).\n- Dudosa: Related but incomplete, unclear, or partially readable.\n- Inválida: Unrelated, unreadable, blank, or missing.\n\nConfidence:\n- Only return confianza > 90 if you are completely certain AND the document shows strong evidence of authenticity (e.g., institution names, signatures, stamps, medical terminology).\n- If dates or days of absence in the document DO NOT match the student's stated reason, reduce confianza significantly.\n\nValidation consistency:\n- The PDF must coincide with the student's reason, including dates and number of absence days.\n- Mismatches between document and reason → lower confianza and possibly \"Dudosa\".\n\nKeyword extraction (VERY IMPORTANT):\n- Extract BETWEEN 5 AND 10 palabras_clave (not fewer).\n- Keywords must include:\n  1. Main topic (e.g., enfermedad, accidente, viaje)\n  2. Specific terms (e.g., hospital, cirugía, consulta, reposo)\n  3. Entities if present (e.g., clínica, doctor, institución)\n  4. Dates or time indicators if visible\n  5. Document type (e.g., certificado médico, carta, constancia)\n- Include synonyms or closely related terms when relevant (e.g., \"hospital\", \"urgencia\", \"emergencia\").\n- Use lowercase, no duplicates, no full sentences.\n\nPriority hinting (implicit classification support):\n- If keywords include: \"hospital\", \"urgencia\", \"cirugía\" → treat as HIGH relevance evidence\n- If include: \"médico\", \"salud\", \"consulta\" → MEDIUM relevance\n- Otherwise → LOW relevance"
            },
            {
              "content": "=File type: {{ $(\"Prepare File Info\").item.json.fileType }}\nFile URL: {{ $(\"Prepare File Info\").item.json.fileUrl }}\nStudent reason stated: {{ $(\"Extract Form Data\").item.json.reason }}\n\nExtracted text:{{ $json.text }}"
            }
          ]
        },
        "simplify": "={{ true }}",
        "builtInTools": {},
        "options": {
          "maxTokens": 1500
        }
      },
      "id": "072ca08c-804c-4184-a320-fffc6e925f8a",
      "name": "Analyze PDF",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        832
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "openAiApi": {
          "id": "iakGIBXi4ke4MuAp",
          "name": "n8n free OpenAI API credits"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nlet response = \"\";\ntry {\n  const messages = Array.isArray(data) ? data : [data];\n  for (const msg of messages) {\n    if (msg.content && Array.isArray(msg.content)) {\n      const block = msg.content.find(c => c.text && c.text.trim() !== \"\");\n      if (block) { response = block.text; break; }\n    }\n  }\n  if (!response) response = JSON.stringify(data);\n} catch (e) { response = JSON.stringify(data); }\nlet parsed;\ntry {\n  let cleanResponse = response;\n  const jsonMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) cleanResponse = jsonMatch[1].trim();\n  parsed = JSON.parse(cleanResponse);\n} catch (e) {\n  parsed = { clasificacion: \"Dudosa\", confianza: 50, texto_ocr: \"\", motivo_decision: \"Error parsing AI response: \" + e.message, palabras_clave: [] };\n}\nreturn { json: { ai_classification: parsed.clasificacion || \"Dudosa\", confidence_score: typeof parsed.confianza === \"number\" ? parsed.confianza : 50, ocr_text: parsed.texto_ocr || \"\", ai_reasoning: parsed.motivo_decision || \"\", palabras_clave: Array.isArray(parsed.palabras_clave) ? parsed.palabras_clave : [], full_response: response } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        592
      ],
      "id": "8cad121c-01af-4963-8926-4ef3d161ea59",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nlet response = \"\";\nif (input.output && Array.isArray(input.output) && input.output.length > 0) {\n  const firstOutput = input.output[0];\n  if (firstOutput.content && Array.isArray(firstOutput.content) && firstOutput.content.length > 0) {\n    response = firstOutput.content[0].text || \"\";\n  } else if (firstOutput.text) { response = firstOutput.text; }\n} else if (input.message?.content) { response = input.message.content;\n} else if (input.message) { response = input.message;\n} else if (input.text) { response = input.text;\n} else if (input.response) { response = input.response;\n} else { response = JSON.stringify(input); }\nlet parsed;\ntry {\n  let cleanResponse = response;\n  if (typeof response === \"string\") {\n    const jsonMatch = response.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    if (jsonMatch) { cleanResponse = jsonMatch[1].trim(); }\n  }\n  parsed = typeof cleanResponse === \"string\" ? JSON.parse(cleanResponse) : cleanResponse;\n} catch (e) {\n  parsed = { clasificacion: \"Dudosa\", confianza: 50, texto_ocr: \"\", motivo_decision: \"Error parsing AI response: \" + e.message, palabras_clave: [] };\n}\nreturn { json: { ai_classification: parsed.clasificacion || \"Dudosa\", confidence_score: parsed.confianza || 50, ocr_text: parsed.texto_ocr || \"\", ai_reasoning: parsed.motivo_decision || \"\", palabras_clave: Array.isArray(parsed.palabras_clave) ? parsed.palabras_clave : [], full_response: response } };"
      },
      "id": "6764df05-1fad-4dc7-b298-7fa9a1845ac9",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        832
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "metric-002",
              "name": "palabras_clave",
              "value": "={{ $json.palabras_clave.join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "13e9b87d-836e-4362-8a12-02eb29eab9b4",
      "name": "Calculate AI Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        720
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence_score }}",
                    "rightValue": 90,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "88228e15-c541-4d77-9ca2-11288ba26f41"
                  },
                  {
                    "leftValue": "={{ $json.ai_classification }}",
                    "rightValue": "Válida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f9c029b-dadb-4334-81b1-3984cfd6fd86"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence_score }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "599d137f-3ec1-439a-ab81-dac756c84dc0"
                  },
                  {
                    "leftValue": "={{ $json.ai_classification }}",
                    "rightValue": "Inválida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c19e4463-5f67-4870-87dc-2e30988e6e26"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false
        }
      },
      "id": "f891a62f-9db5-4cb6-9403-6207ed30484f",
      "name": "Route by Confidence",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1408,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-1",
              "name": "estado",
              "value": "Aprobada",
              "type": "string"
            },
            {
              "id": "status-2",
              "name": "revisado_por",
              "value": "auto",
              "type": "string"
            },
            {
              "id": "status-3",
              "name": "fecha_resolucion",
              "value": "={{ $now.toISODate() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "674b35a4-99ca-4d7a-ada4-6d1d24f63a6c",
      "name": "Set Auto Approved",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-1",
              "name": "estado",
              "value": "Rechazada",
              "type": "string"
            },
            {
              "id": "status-2",
              "name": "revisado_por",
              "value": "auto",
              "type": "string"
            },
            {
              "id": "status-3",
              "name": "fecha_resolucion",
              "value": "={{ $now.toISODate() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3f17c801-4865-4da4-a459-1c93e4fd7f5c",
      "name": "Set Auto Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-1",
              "name": "estado",
              "value": "En revisión",
              "type": "string"
            },
            {
              "id": "status-2",
              "name": "revisado_por",
              "value": "pendiente",
              "type": "string"
            },
            {
              "id": "status-3",
              "name": "fecha_resolucion",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e86579ff-af3b-4838-b2d3-4bda8ed9c523",
      "name": "Set Manual Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        912
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1856,
        720
      ],
      "id": "368eb681-a420-4907-b65f-2033213f92d1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "hospital",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-001"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "urgencia",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-002"
                  },
                  {
                    "leftValue": "={{ $('Extract Form Data').item.json.reason.toLowerCase() }}",
                    "rightValue": "cirugía",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-003"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "cirugía",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-004"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "emergencia",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-005"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "hospitalización",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-006"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "uci",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-007"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "accidente",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-008"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "fallecimiento",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-009"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "defunción",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-010"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "luto",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-011"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "reanimación",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-012"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "fractura",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-013"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "incapacidad",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-014"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "reposo absoluto",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-015"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "diligencia judicial",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-016"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "citación judicial",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-017"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "juzgado",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-018"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "calamidad doméstica",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-019"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "eps",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "alta-020"
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "médico",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-001"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "enfermedad",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-002"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "consulta",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-003"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "cita médica",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-004"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "clínica",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-005"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "diagnóstico",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-006"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "tratamiento",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-007"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "reposo",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-008"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "fórmula médica",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-009"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "certificado médico",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-010"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "incapacidad parcial",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-011"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "representación legal",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-012"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "notaría",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-013"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "trámite oficial",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-014"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "entidad gubernamental",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-015"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "alcaldía",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-016"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "migración",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-017"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "visa",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-018"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "representación deportiva",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-019"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "competencia oficial",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-020"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "licencia",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-021"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "constancia",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-022"
                  },
                  {
                    "leftValue": "={{ $('Calculate AI Metrics').item.json.palabras_clave }}",
                    "rightValue": "salud",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "media-023"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": "={{ false }}"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "id": "f2ce8dda-07f2-4af2-b522-ad8fad98b4b8",
      "name": "Assign Priority",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2080,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prio-alta",
              "name": "prioridad",
              "value": "ALTA",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fa0c1537-0c1c-4e84-bc10-56e81c4d5c44",
      "name": "Set Priority ALTA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        512
      ]
    },
    {
      "parameters": {
        "chatId": "6132726794",
        "text": "=🚨 Caso Prioritario Detectado\nID_Estudiante:  {{ $('Extract Form Data').item.json.body.student_id }}\nMotivo: {{ $('Extract Form Data').item.json.reason }}\nArchivo: {{ $('Upload File to Drive').item.json.id }}",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "id": "4d8f2a35-fc8c-4511-8c02-6dd38bc3c988",
      "name": "Notify High Priority",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        512
      ],
      "webhookId": "9ad66e5a-63b5-4973-9bbd-c3b5f311ce7c",
      "credentials": {
        "telegramApi": {
          "id": "M0Bfhe39wLNs7tiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prio-media",
              "name": "prioridad",
              "value": "MEDIA",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8fc6bddb-7e41-453e-a88e-f94f413f3490",
      "name": "Set Priority MEDIA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prio-baja",
              "name": "prioridad",
              "value": "BAJA",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "98fa83ac-8a37-4628-bf4d-8f557c0fc234",
      "name": "Set Priority BAJA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        912
      ]
    },
    {
      "parameters": {},
      "id": "3b5a3030-b574-4fd5-b3dd-fa9bf901cd7a",
      "name": "Merge Priorities",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2848,
        720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ",
          "mode": "list",
          "cachedResultName": "gestion_inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1409994013,
          "mode": "list",
          "cachedResultName": "Solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ/edit#gid=1409994013"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_Estudiante",
              "lookupValue": "={{ $(\"Extract Form Data\").item.json.student_id }}"
            },
            {
              "lookupColumn": "Motivo",
              "lookupValue": "={{ $(\"Extract Form Data\").item.json.reason }}"
            },
            {
              "lookupColumn": "Fecha_Envío",
              "lookupValue": "={{ $(\"Extract Form Data\").item.json.submitted_at }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8272e334-2445-40fc-a8fc-3f524d720bf7",
      "name": "Check for Duplicates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        528
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vqjoGQoMV0qahF3b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ",
          "mode": "list",
          "cachedResultName": "gestion_inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1409994013,
          "mode": "list",
          "cachedResultName": "Solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ/edit#gid=1409994013"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "id": "768f5db0-503d-41de-99f7-81216d02ba93",
      "name": "Get Last ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3088,
        720
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vqjoGQoMV0qahF3b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ",
          "mode": "list",
          "cachedResultName": "gestion_inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1409994013,
          "mode": "list",
          "cachedResultName": "Solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LX8Z0vj0hWy0HZ56yTzSMBrSQjJCoMHEO2q0kpWwVwQ/edit#gid=1409994013"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Estudiante": "={{ $(\"Extract Form Data\").item.json.student_id }}",
            "Nombre": "={{ $(\"Extract Form Data\").item.json.name }}",
            "Correo": "={{ $(\"Extract Form Data\").item.json.email }}",
            "Fecha_Envío": "={{ $(\"Extract Form Data\").item.json.submitted_at.split(\"T\")[0] }}",
            "Motivo": "={{ $(\"Extract Form Data\").item.json.reason }}",
            "URL_Archivo": "={{ $(\"Prepare File Info\").item.json.fileUrl }}",
            "Clasificación_IA": "={{ $(\"Calculate AI Metrics\").item.json.ai_classification }}",
            "Confianza_%": "={{ $(\"Calculate AI Metrics\").item.json.confidence_score }}",
            "Texto_OCR": "={{ $('Calculate AI Metrics').item.json.ocr_text }}",
            "Estado": "={{ $('No Operation, do nothing').item.json.estado }}",
            "Revisado_Por": "={{ $('No Operation, do nothing').item.json.revisado_por }}",
            "Fecha_Resolución": "={{ $('No Operation, do nothing').item.json.fecha_resolucion }}",
            "Log_Error": "={{ $(\"Check for Duplicates\").all().length > 1 ? \"Posible duplicado detectado\" : \"\" }}",
            "Timestamp_Proceso": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
            "Razon": "={{ $('Extract Form Data').item.json.detail }}",
            " ID_solicitud ": "={{ String(Number($(\"Get Last ID\").item.json.ID_Solicitud || 0) + 1).padStart(6, \"0\") }}",
            "Tamaño": "={{ $('Extract Form Data').item.json.filesize }}",
            "Prioridad": "={{ $('Merge Priorities').item.json.prioridad }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": " ID_solicitud ",
              "displayName": " ID_solicitud ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID_Estudiante",
              "displayName": "ID_Estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_Envío",
              "displayName": "Fecha_Envío",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razon",
              "displayName": "Razon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL_Archivo",
              "displayName": "URL_Archivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clasificación_IA",
              "displayName": "Clasificación_IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confianza_%",
              "displayName": "Confianza_%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Texto_OCR",
              "displayName": "Texto_OCR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revisado_Por",
              "displayName": "Revisado_Por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_Resolución",
              "displayName": "Fecha_Resolución",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp_Proceso",
              "displayName": "Timestamp_Proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tamaño",
              "displayName": "Tamaño",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Log_Error",
              "displayName": "Log_Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "0e20137b-5b4f-4c5f-a440-63a598abe895",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3456,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vqjoGQoMV0qahF3b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6132726794",
        "text": "=🔔 *Solicitud:{{ $json.ID_Solicitud }} * Estado: {{ $('No Operation, do nothing').item.json.estado }} Clasificación: {{ $(\"Calculate AI Metrics\").item.json.ai_classification }} ({{ $(\"Calculate AI Metrics\").item.json.confidence_score }}%) Motivo IA: {{ $(\"Calculate AI Metrics\").item.json.ai_reasoning }} {{ $('No Operation, do nothing').item.json.estado === \"En revisión\" ? \"⏳ Un administrativo revisará tu caso pronto.\" : \"\" }} ",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "6569452e-8717-4acd-aea4-344214aa9dfb",
      "name": "Send Status Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3632,
        720
      ],
      "webhookId": "ba0d8ccd-acf6-4486-82af-81c6df0d49bb",
      "credentials": {
        "telegramApi": {
          "id": "M0Bfhe39wLNs7tiO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3264,
        720
      ],
      "id": "18100ff0-e05e-438a-bb44-3c32f994d48d",
      "name": "Get the Last Row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc8f2bb0-908f-49bd-9bd1-27c89a64c490",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        720
      ],
      "id": "42c71428-2de8-4c6f-88d8-406a051bc62c",
      "name": "If1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "check for file size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for file size": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "Upload File to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to Drive": {
      "main": [
        [
          {
            "node": "Prepare File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Info": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Start Time": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Analyze PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze PDF": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Calculate AI Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Calculate AI Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate AI Metrics": {
      "main": [
        [
          {
            "node": "Route by Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Confidence": {
      "main": [
        [
          {
            "node": "Set Auto Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Auto Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Auto Approved": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Auto Rejected": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Manual Review": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Assign Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Priority": {
      "main": [
        [
          {
            "node": "Set Priority ALTA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Priority MEDIA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Priority BAJA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Priority ALTA": {
      "main": [
        [
          {
            "node": "Notify High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify High Priority": {
      "main": [
        [
          {
            "node": "Merge Priorities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Priority MEDIA": {
      "main": [
        [
          {
            "node": "Merge Priorities",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Priority BAJA": {
      "main": [
        [
          {
            "node": "Merge Priorities",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Priorities": {
      "main": [
        [
          {
            "node": "Get Last ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last ID": {
      "main": [
        [
          {
            "node": "Get the Last Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Status Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the Last Row": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Store AI Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bcb5351b8c63062421a95330f34ea678850e07530b9a7f57755f22ce7932797"
  }
}